@using ThaiHoaiDu.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<Spham>
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Layout/QuanLy.cshtml";
    ThaiHoaiDu.Models.NguoiDung nd = (ThaiHoaiDu.Models.NguoiDung)Session["TaiKhoan"];
    if (nd != null && nd.VaiTro == false)
    {
        Response.Redirect("/QuanLy/Index");
    }
    var lon = " Lon";
    var ly = " Ly";
    int idxoa = new int();
}
<div class="chit-chat-layer1">
    <!--inner block start here-->
    <div class="inner-block">
        <div class="product-block">
            <div class="pro-head">
                <h2>Sản phẩm - @ViewBag.TBSP</h2>
                <a href="@Url.Action("Create", "SanPham")"><button class="btn btn-danger">Thêm</button></a>
                @Html.Action("dsDanhMuc", "SanPham")
                @foreach (var item in Model)
                {
                    <div class="col-md-3 product-grid">
                        <div class="product-items">
                            <center>
                                <br />
                                <a href="@Url.Action("Edit", "SanPham", new { id = item.MaSanPham})"><input type="button" class="btn btn-danger" value="Cập nhật" /></a>
                                <button type="button" class="btn btn-danger" name="bt" id="@item.MaSanPham" onclick="@{idxoa = item.MaSanPham; })" data-toggle="modal" data-target="#Xoa">
                                    Xóa
                                </button>
                            </center>
                            <div class="project-eff">
                                <div id="nivo-lightbox-demo"> <p> <a href="images/pro1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                                <img class="img-responsive" src="~/Content/Layout/images/@item.Anh" alt="" style="width: 100%; height: 250px">
                            </div>
                            <div class="produ-cost">
                                <h4>@item.TenSanPham</h4>
                                <h5>
                                    @{ float giaban = (float)item.Gia;}
                                    @giaban.ToString("#,##0") vnđ/@if (item.PhanBiet == true)
                                    {@lon;
                                }
                                else
                                {@ly;
                            }
                                </h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--inner block end here-->

    <div class="clearfix"> </div>
</div>
<center>
    <div>
        @{ 
            if(Session["idSP"] == null) { Session["idSP"] = 0; }
            int idSP = int.Parse(Session["idSP"].ToString());
        }
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { id = idSP, Page = Page }))
    </div>
</center>

<div class="modal fade" id="Xoa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xóa?
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("DeleteConfirmed","SanPham", new { id = idxoa})"><button type="button" class="btn btn-secondary">OK</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>