@using ThaiHoaiDu.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<Spham>
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Layout/QuanLy.cshtml";
    ThaiHoaiDu.Models.NguoiDung nd = (ThaiHoaiDu.Models.NguoiDung)Session["TaiKhoan"];
    if (nd != null && nd.VaiTro == false)
    {
        Response.Redirect("/QuanLy/Index");
    }
    var lon = " Phần";
    var ly = " Ly";
}
<div class="chit-chat-layer1">
    <!--inner block start here-->
    <div class="inner-block">
        <div class="product-block">
            <div class="pro-head">
                <h2>Sản phẩm - @ViewBag.TBSP</h2>
                <div style="margin-left: 3%">
                    <div class="col-lg-1">
                        <a href="@Url.Action("Create", "SanPham")"><button class="btn btn-danger">Thêm</button></a>
                    </div>
                    <div class="col-lg-6">
                        @Html.Action("dsDanhMuc", "SanPham")
                    </div>
                </div>
                <br /><br />
                @foreach (var item in Model)
                {
                    <div class="col-md-3 product-grid">
                        <div class="product-items">
                            <div class="project-eff">
                                <div id="nivo-lightbox-demo"> <p> <a href="#" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                                <img class="img-responsive" src="~/Content/Layout/images/@item.Anh" alt="" style="width: 100%; height: 250px">
                            </div>

                            <div class="produ-cost">
                                @if (item.HienTrang == true)
                                {
                                    <h4>@item.TenSanPham</h4>
                                }
                                else
                                {
                                    <h4>@item.TenSanPham - Ngưng bán</h4>
                                }
                                <h5>
                                    @{ float giaban = (float)item.Gia;}
                                    @giaban.ToString("#,##0") vnđ/@if (item.PhanBiet == true)
                                    {@lon;
                                }
                                else
                                {@ly;
                            }
                                </h5>
                            </div>
                            <center>
                                <br />
                                <a href="@Url.Action("Edit", "SanPham", new { id = item.MaSanPham })" class="btn btn-danger"><i class="fas fa-redo-alt"></i></a>
                                <!--<a href="Url.Action("DeleteConfirmed", "SanPham", new { id = item.MaSanPham})" type="button" class="btn btn-danger" data-toggle="modal" data-target="#Xoa">
        <i class="fas fa-trash-alt"></i> </a>-->
                                <a data-id="@item.MaSanPham" data-controller="SanPham" data-action="DeleteConfirmed"  class="btn btn-danger delete" data-body-message="Bạn chắc chắn muốn xóa">Xóa</a>
                            </center>
                            <br />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--inner block end here-->

    <div class="clearfix"> </div>
</div>
<center>
    <div>
        @{ 
            if(Session["idSP"] == null) { Session["idSP"] = 0; }
            int idSP = int.Parse(Session["idSP"].ToString());
        }
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { id = idSP, Page = Page }))
    </div>
</center>

<script src="~/Content/Layout/js/DeleteConfirm.js"></script>