@using ThaiHoaiDu.DAO;
@model List<banDAO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/QuanLy.cshtml";
}

<h2>Index</h2>
<div class="chit-chat-layer1">
    <div class="inner-block">
        <div class="product-block">
            <div class="pro-head">
                <h5> Danh sach món</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var iten in Model)
                        {
                            <tr>
                                <th scope="row">1</th>
                                <td>@iten.TenSP</td>
                                <td>@iten.SoLuong</td>
                                <td>@iten.DonGia vnđ</td>
                                <td>@iten.ThanhTien vnđ</td>
                                <td><a href="@Url.Action("XoaSP", "ThemMon", new { idSP = iten.IDSanPham})"><i class="fa fa-close"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
               
                <span>Tổng tiền: @Model.Sum(t => t.ThanhTien).ToString("0.")</span>
                @if (Model.Count == 0)
                {
                    <input type="button" value="Thanh Toán" class="btn btn-primary" disabled />
                }
                else
                {
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Thanh Toán
                    </button>
                }
            </div>
        </div>
    </div>
</div>
@Html.Action("SanPham", "ThemMon")

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                Thanh toán thành công!
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("ThanhToan", "ThemMon")"><button type="button" class="btn btn-secondary" >OK</button></a>
            </div>
        </div>
    </div>
</div>