@using ThaiHoaiDu.DAO;
@model List<banDAO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/QuanLy.cshtml";
}

    <div class="inner-block">
        <div class="product-block">
            <div class="pro-head">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"><center><i class="fas fa-beer">&nbsp;</i>Tên món</center></th>
                            <th scope="col"><center><i class="fas fa-sort-numeric-up">&nbsp;</i>Số lượng</center></th>
                            <th scope="col"><center><i class="fas fa-money-bill-wave">&nbsp;</i>Đơn giá</center></th>
                            <th scope="col"><center><i class="fas fa-dollar-sign">&nbsp;</i>Thành tiền</center></th>
                            <th scope="col"><center><i class="fas fa-trash-alt">&nbsp;</i>Xóa</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var iten in Model)
                        {
                            <tr>
                                <td><center>@iten.TenSP</center></td>
                                <td><center>@iten.SoLuong</center></td>
                                <td><center>@iten.DonGia vnđ</center></td>
                                <td><center>@iten.ThanhTien vnđ</center></td>
                                <td><center><a href="@Url.Action("XoaSP", "ThemMon", new { idSP = iten.IDSanPham})"><i class="fa fa-close"></i></a></center></td>
                            </tr>
                        }
                    </tbody>
                </table>

                <center>
                    <h3>
                        Tổng tiền: <b style="color: red;">@Model.Sum(t => t.ThanhTien).ToString("0.")</b> VNĐ
                    </h3>
                    <br />
                    @if (Model.Count == 0)
                    {
                        <input type="button" value="Thanh Toán" class="btn btn-primary" disabled style="width: 20%; height: 50px" />
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="width: 20%; height: 50px">
                            Thanh Toán
                        </button>
                    }
                </center>
            </div>
        </div>
    </div>       
@Html.Action("SanPham", "ThemMon")
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center><h3 style="color: red">Bạn có chắc muốn thanh toán?</h3></center>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"><center><i class="fas fa-beer">&nbsp;</i>Tên món</center></th>
                            <th scope="col"><center><i class="fas fa-sort-numeric-up">&nbsp;</i>Số lượng</center></th>
                            <th scope="col"><center><i class="fas fa-money-bill-wave">&nbsp;</i>Đơn giá</center></th>
                            <th scope="col"><center><i class="fas fa-dollar-sign">&nbsp;</i>Thành tiền</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var iten in Model)
                        {
                            <tr>
                                <td><center>@iten.TenSP</center></td>
                                <td><center>@iten.SoLuong</center></td>
                                <td><center>@iten.DonGia vnđ</center></td>
                                <td><center>@iten.ThanhTien vnđ</center></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr />
                <center>
                    <h3>
                        Tổng tiền: <b style="color: red;">@Model.Sum(t => t.ThanhTien).ToString("0.")</b> VNĐ
                    </h3>
                </center>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("ThanhToan", "ThemMon")">
                    <button type="button" class="btn btn-primary">Thanh toán</button>
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không thanh toán</button>
            </div>
        </div>
    </div>
</div>