@using ThaiHoaiDu.Models;
@model List<Spham>
@{
    var lon = " Lon";
    var ly = " Ly";
}
<div class="inner-block" style="margin-top: -10%">
    <div class="product-block">
        <div class="pro-head">
            <h2>Sản phẩm - @ViewBag.TBSP</h2>
            @Html.Action("locDM", "ThemMon")
            @foreach (var item in Model)
            {
                <div class="col-md-3 product-grid">
                    <div class="product-items">
                        <center>
                            <br />
                            <form action="@Url.Action("ThemSP", "ThemMon")">
                                <input type="number" value="1" min="1" name="soLuong" class="btn btn-danger" />
                                <input type="hidden" value="@item.MaSanPham" name="IDSP" />
                                <input type="submit" value="Thêm" class="btn btn-danger" />
                            </form>
                        </center>
                        <div class="project-eff">
                            <div id="nivo-lightbox-demo"> <p> <a href="images/pro1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                            <img class="img-responsive" src="~/Content/Layout/images/@item.Anh" alt="" style="width: 100%; height: 210px">
                        </div>
                        <div class="produ-cost" style="border: 1px solid black; background-color: darkgreen">
                            <h4>@item.TenSanPham</h4>
                            @{ float giaban = (float)item.Gia;}
                            <h5>@giaban.ToString("#,##0") vnđ/@if (item.PhanBiet == true)
                            {@lon;
                        }
                        else
                        {@ly;
                    }</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--inner block end here-->
<div class="clearfix"> </div>


