@model IEnumerable<ThaiHoaiDu.Models.DanhMuc>

@{
    ThaiHoaiDu.Models.NguoiDung nd = (ThaiHoaiDu.Models.NguoiDung)Session["TaiKhoan"];
    if (nd != null && nd.VaiTro == false)
    {
        Response.Redirect("/QuanLy/Index");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/QuanLy.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDanhMuc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDanhMuc }) |
            <a class="btn btn-danger delete" data-id="@item.MaDanhMuc" data-controller="DanhMucs" data-action="DeleteConfirmed" data-body-message="bạn chắc chắn muôn xóa">Xóa</a>
        </td>
    </tr>
}

</table>
<script src="~/Content/Layout/js/DeleteConfirm.js"></script>