@model IEnumerable<ThaiHoaiDu.Models.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/QuanLy.cshtml";
    ThaiHoaiDu.Models.NguoiDung nd = (ThaiHoaiDu.Models.NguoiDung)Session["TaiKhoan"];
    if (nd != null && nd.VaiTro == false)
    {
        Response.Redirect("/QuanLy/Index");
    }
}
<div class="inner-block">
    <div class="product-block">
        <div class="pro-head" style="width: 100%; height: 500px">
            <p>
                <a href="/NguoiDungs/Create" class="btn btn-danger">THÊM NHÂN VIÊN</a>
            </p>
            <br />
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        <b><i class="fas fa-file-signature">&nbsp;</i>Tên nhân viên</b>
                    </th>
                    <th>
                        <b><i class="fa fa-user">&nbsp;</i>Tài khoản</b>
                    </th>
                    <th>
                        <b><i class="fas fa-key">&nbsp;</i>Mật khẩu</b>
                    </th>
                    <th>
                        <b><i class="fas fa-adjust">&nbsp;</i>Vai trò</b>
                    </th>
                    <th>
                        <b><i class="far fa-calendar-alt">&nbsp;</i>Ngày tạo</b>
                    </th>
                    <th>
                        <b><i class="fas fa-eraser">&nbsp;</i>Công cụ</b>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenNguoiDung)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaiKhoan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatKhau)
                        </td>
                        <td>
                            @if (item.VaiTro == true)
                            {
                                <span>Admin</span>
                            }
                            else
                            {
                                <span>Nhân viên</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayTao)
                        </td>
                        <td>
                            <a href="/NguoiDungs/Edit/@item.MaNguoiDung" class="btn btn-default"><i class="fas fa-redo-alt">&nbsp;</i>Cập nhật</a>
                            <a class="btn btn-danger delete" data-controller="NguoiDungs" data-action="DeleteConfirmed" data-id="@item.MaNguoiDung" data-body-message="Bạn chắc chắn muốn xóa">Xóa</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


<script src="~/Content/Layout/js/DeleteConfirm.js"></script>